@import "mixing";
@import "fonts";
@import "reset";
@import "audio";

@import "aside";
@import "header";

body {
   font-family: "gilroy400", sans-serif;
   font-size: 20px;
   background: $white;
}

.wrapper {
   width: 80%;
   float: right;
   // background color нужно изменить на linear
   background-color: #002C23;
}

main {
   width: 100%;
   height: 100vh;
   background-color: blue;
}